In [9]:
# Dependencies and Setup
import pandas as pd

In [10]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [11]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [12]:
# Combine the data into a single dataset.  
sdmerged_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [13]:
sdmerged_df

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [16]:
school_count = len(sdmerged_df.["school_name"].unique())
school_count

15

In [17]:
student_count = len(sdmerged_df["student_name"])
student_count

39170

In [34]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [35]:
mathsav = sdmerged_df["maths_score"].mean()
mathsav

70.33819249425581

In [36]:
readingav = sdmerged_df["reading_score"].mean()
readingav

69.98013786060761

In [39]:
mathspass_df = sdmerged_df.loc[sdmerged_df["maths_score"] >= 50]
mcount = len(mathspass_df)
mpasspercent = mcount/student_count
mpasspercent

0.8607863160582078

In [42]:
readpass_df = sdmerged_df.loc[sdmerged_df["reading_score"] >= 50]
rcount = len(readpass_df)
rpasspercent = rcount/student_count
rpasspercent

0.8442685728874139

In [45]:
bothpass_df = readpass_df.loc[sdmerged_df["maths_score"] >= 50]
bcount = len(bothpass_df)
bpasspercent = bcount/student_count
bpasspercent

0.7280827163645647

In [54]:
summary_df = pd.DataFrame({"Total Schools": [school_count], "Total Students": [student_count], "Total Budget": total_budget, "Average Maths Score": mathsav, "Average Reading Score": readingav, "% Passing Maths": mpasspercent, "% Passing Reading": rpasspercent, "% Overall Passing": bpasspercent})
summary_df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,0.860786,0.844269,0.728083